# Dependencies
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Datenbanken
*.sqlite
*.sqlite3
*.db
server/database.sqlite